// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header {
  background-color: #9601ba;
  background-image: linear-gradient(180deg, #9601ba, #2a2a2b);
}

#header h1 {
  color: white;
}

#header a, #header a:link {
  color: white;
}

#header ul.tabs > li.current > a {
  background: #b406ef;
  color: #ffffff;
}

#header ul.tabs > li:hover > a {
  background: #7b8389;
  color: #fff;
}

form input[type=submit], form input[type=button], form button {
  background-color: #9601ba;
  background-image: linear-gradient(180deg, #9601ba, #2a2a2b);
}

form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover {
  background-color: #65027c;
  background-image: linear-gradient(180deg, #65027c, #000000);
}

body.logged_out h2 {
  background-color: #9601ba;
  background-image: linear-gradient(180deg, #9601ba, #2a2a2b);
}
